<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History of Text Summarization</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #000000;
          text-align: justify;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
</head>
<body>
    <h1>Summary History</h1>
    <br>

    <table>
      <tr>
        <th style="width:50%">Prompt</th>
        <th style="width:40%">Response</th>
        <th style="width:10%">Prompt DateTime</th>
      </tr>
        {% for summary in summaries %}
      <tr>
        <td>{{summary.prompt}}</td>
        <td>{{summary.response}}</td>
        <td>{{summary.created_at}}</td>
      </tr>
        {% endfor %}
    </table>

    <br><br>
    <a href="{% url 'home' %}">Go to home page</a>
</body>
</html>